body{
    color:  #424242;
}

.add-container .add-container-top .add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-container .add-form form{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    padding: 20px 10px;
    border-radius: 10px;
}
p{
    font-size: 1.5rem;
}
input{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: yellowgreen;
}

@media screen and (max-width: 300px){
    .add-container .add-form form{
        padding: 0px;
    }
}


